@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

/* styles/globals.css */
.sidebar {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
  padding: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
  &::after {
    content: "";
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, #6663ff 0%, #ed2290 100%);
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    .intro-line {
      text-align: center;
      position: relative;
      top: 16px;
    }
    .sidebar-title {
      font-size: 90px;
      text-align: center;
      z-index: 20;
      position: relative;
      display: block;
    }
  }
  .sidebar-footer {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(10%);
}

.slide-up-enter-done {
  opacity: 1;
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

/* Exit transition (current item fading out) */
.slide-up-exit,
.slide-up-exit-done {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(-20%); /* Adjust for a slight upward shift */
  transition: opacity 500ms, transform 500ms;
}

.intro-line {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.48px;
  text-transform: uppercase;
}

.navbar {
  display: none;
  justify-content: space-between;
  padding: 48px;
  width: 100%;
  ul {
    display: none;
    gap: 3em;
    list-style: none;
    align-items: center;
    li {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3px;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      &:after {
        content: "";
        width: 0;
        height: 2px;
        background-color: #6663ff;
        display: block;
        position: absolute;
        bottom: -5px;
        transition: width 0.2s linear;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .active {
      color: #6663ff;
      font-weight: bold;
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #6663ff;
        display: block;
        position: relative;
        top: 2px;
      }
    }
  }
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

main {
  margin: 0;
  width: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
}

.post-card {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #0e0e0e;
  overflow: hidden;
  padding: 16px;
  a {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  h2 {
    font-weight: bold;
    margin-top: 1em;
  }
  .post-card--desc {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0.5em 0 2em 0;
  }
  .post-card__footer {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    ul {
      color: #606060;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      color: #fff;
    }
  }
  .img-container {
    height: 333px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
  gap: 40px; /* Optional: Spacing between grid items */
  margin: 4em;
}

.btn {
  font-weight: 700;
  letter-spacing: 2.4px;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 1em;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}

.btn--primary {
  border-color: #6663ff;
  color: #6663ff;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: #212051;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.job-title-container {
  li {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    &:first-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
}

.job-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.blog-post-container {
  padding: 2em 4em;
  img {
    margin: 3em 0 3em 0;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 6em 0 0 0;
  }
  p {
    font-size: 16px;
    color: rgba(255,255,255,0.6);
    line-height: 32px;
  }
}

.header-quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 2em auto 0 auto;
  h2 {
    background: linear-gradient(160deg, #6663ff 0%, #ed2290 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
  }
  .speaker {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 3.9px;
    text-transform: uppercase;
  }
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1350px;
  .post-feature-image {
    width: 100%;
  }
  h2 {
    background: linear-gradient(160deg, #6663ff 0%, #ed2290 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
  }
  h4 {
    margin: 3em 0 0.5em 0;
  }
}

.title-shadow {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6663ff;
  position: absolute;
  left: 10px;
  right: 0px;
  top: 10px;
  z-index: -1;
  display: block;
  &:before {
    content: "";
    background: transparent url(../public/images/title-fx.svg) no-repeat 0px 0px;
    width: 262px;
    height: 119px;
    display: block;
    position: absolute;
    left: 10px;
    right: 0px;
    top: 10px;
    animation: growTall 1s ease-out;
    transform-origin: center;
  }
}

@keyframes growTall {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.inner-page-container {
  padding: 3em;
  height: 100%;
}

.timeline {
  position: relative;
  height: 100%;
  &:after {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    animation: growTall 4s ease-out;
    z-index: -1;
  }
  .work-card {
    display: flex;
    margin: 8em auto 0 auto;
    max-width: 540px;
    position: relative;
    gap: 16px;
    justify-content: space-between;
  }
  .work-card-date {
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    width: 120px;
  }
  .work-card-main {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.50);
    padding: 25px 18px;
    font-size: 12px;
    max-width: 350px;
    h3 {
      
    }
    p {
      margin-top: 1em;
      color: rgba(255, 255, 255, 0.50);
      line-height: 22px;
    }
  }

  .work-card--logo {
    position: relative;
    z-index: 4;
  }

  .work-card--right {
    flex-direction: row-reverse;
    right: 120px;
    .work-card--logo {
      right: -6px;
    }
  }
  .work-card--left {
    left: 120px;
    .work-card--logo {
      left: -5px;
    }
  }
}

.blog-post-details {
  color: rgba(255, 255, 255, 0.50);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 1em 0 3em 0;
}

/* styles/Navbar.css */

.mobile-side-nav {
  position: fixed;
  top: 0;
  left: -300px; /* This makes the side-nav initially hidden */
  width: 300px;
  height: 100vh;
  background: rgba(47,47,47,0.5);
  backdrop-filter: blur(20px);
  color: white;
  transition: 0.3s;
  overflow-y: auto;
  padding-top: 20px;
  z-index: 90;
}

.mobile-side-nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.mobile-side-nav a:hover {
  background: rgba(255,255,255,0.1);
}

.mobile-side-nav.open {
  left: 0; /* This makes the side-nav visible */
}

.mobile-menu-button {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 32px;
  z-index: 10;
}

/* For screens larger than 768px */
@media (min-width: 1230px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-side-nav {
      left: 0;
      width: auto;
      display: none;
  }
  nav button {
      display: none;
  }
  main {
    margin-left: 500px;
  }
  .sidebar {
    position: fixed;
    width: 500px;
    display: flex;
    margin-top: 0;
    .sidebar-footer {
      display: flex;
    }
  }
 
  .navbar {
    display: flex;
  }
  .container {
    flex-direction: row;
  }
  .sidebar-content {
    margin: 0;
  }
  .navbar{
    ul {
      display: flex;
    }
  }
  main {
    .post-container {
      grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    }
  }
}

@media (min-width: 728px) {
  .post-container {
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
  }
}
